$("#error_message").text("<%= @error_message %>");

var content = $("#content");

content.empty();

<% if @entry %>
  content.append("<li class='list-group-item'><h4><%= @entry.word %></h4></li>");
<% end %>

<% @entry.definitions.each do |definition| %>
  content.append("<li class='list-group-item'><%= definition.description %></li>");
<% end %>
