$("#error_message").text("<%= @error_message %>");

var content = $("#content");

content.empty();

<% @definitions.each do |definition| %>
  content.append("<li class='list-group-item'><%= definition %></li>");
<% end %>
